.background_black {
  background-color: #343a40 !important;
  color: #fff !important;
}

.remove_radius {
  border-radius: 0 !important;
}

/* Gives space under nav */

.Work_Around_Nav {
  padding-top: 48px;
}

.Same_Line {
  text-align: center;
  margin-right: 5px;
  font-size: 13px !important;
}

#CloseExtraInfo {
  height: 180px;
}

h3 {
  margin: 0 !important;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}

/* Table Format */

.Master_Table {
  display: table;
  width: 100%;
}

.Heading_Table {
  border-bottom: 2px solid rgb(221, 221, 221);
  padding: 8px;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.Row_Table {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid rgb(221, 221, 221);
}

/* Loading Sceen for request pages */

#Loading_Screen {
  visibility: hidden;
  position: fixed;
  z-index: 99999;
  top: 50;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .8);
}

/* Phone */

@media only screen and (max-width: 768px) {
  .No_Phone {
    display: none;
  }
}

/* Tablet */

@media only screen and (max-width: 991px) {
  .No_Tablet {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .Phone_And_Tablet {
    display: none;
  }
}