.background_black {
  background-color: #343a40 !important;
  color: #fff !important;
}

.remove_radius {
  border-radius: 0 !important;
}

/* Gives space under nav */

.Work_Around_Nav {
  padding-top: 48px;
}

.same_line {
  float: left;
  margin-right: 5px;
  font-size: 13px !important;
}

h3 {
  margin: 0 !important;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}